  .first {
    border: 2px solid #000;
  }

  .second {
    border: 2px solid #000;
  }

  .desarrollo {
    text-align: center;
  }
  
  .image1 {
      width: 80%;
      height: auto;
      object-fit: cover;
  }

  .info {
    border-style: solid 30px #000;
  }

  .image2 {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .image3 {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .lista {
    display: flex;
    padding: 0;
    list-style: none;
  }

.profile {
  text-align: center;
}

.image5 {
  height: 4.5em;
  width: 4.5em;
  border: 2px solid #000;
  border-radius: 50% ;
}

.text {
  text-align: justify;
}

.more {
  text-align: center;
  background-color: #808080;
  color: #fff;
}

.image4 {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.redes {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.cursos {
  text-align: center;
}

.icon {
  display: inline;
}