  .desarrollo {
    text-align: center;
  }
  
  .image1 {
      width: 80%;
      height: auto;
      object-fit: cover;
  }

  .info {
    border-style: solid 30px #000;
  }

  .image2 {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .image3 {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
